* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.word-white {
    color: #fff !important;
}

/* #main {
} */

.clear {
    clear: both;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#header .search-btn {
    color: #fff;
    float: right;
    line-height: 46px;
    padding: 0 24px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#nav .nav-arrow-down-icon {
    font-size: 14px;
    padding: 0 1px;
}

#nav,
.subna,
ul {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    line-height: 38px;
    padding: 0 16px;
    min-width: 160px;color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url("/assets/img/slide/slide1.jpg") top center / cover no-repeat;
    position: relative;
}

#slider .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 32px 16px;
}

#slider .text-heading {
    text-align: center;
    font-weight: 450;
    font-size: 24px;
}

#slider .text-description {
    text-align: center;
    margin: 25px 0;
    font-size: 15px;
}

/* #content {
} */

#content .text-section {
    max-width: 800px;
    padding: 64px 0 112px;
    margin: auto;
}

#content .text-heading-section {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 45px;
    font-weight: 500;
    margin: 10px 0;
}

#content .text-sub-heading-section {
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 15px 0;
    font-size: 15px;
    line-height: 22.5px;
}

#content .about-content {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    margin: 15px;
}

.list-member {
    margin-top: 48px;
}

#content .name-member {
    font-size: 15px;
    margin: 15px 0;
}

#content .avatar-member {
    width: 154px;
    border-radius: 4px;
}

/* TOUR SECTION */
.ticket-tour {
    background-color: #000;
}

.list-month-puy-ticket {
    background-color: #fff;
    border-top: 3px solid #000;
    font-size: 15px;
    color: #757575;
}

.list-month-puy-ticket li {
    padding: 10px 16px;
    border: 1px solid #ddd;
}

.list-month-puy-ticket .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 8px;
}

.list-month-puy-ticket .quantity {
    float: right;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    height: 24px;
    padding: 4px 7px;
}

.list-places {
    margin-top: 32px;
}

.img-place {
    display: block;
    width: 100%;
}

.img-place:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 0.15px 16px;
}

.name-place {
    margin: 15px 0;
    font-size: 15px;
}

.date-place {
    margin: 15px 0;
    color: #757575;
}

.desc-place {
    margin: 15px 0;
}

.buy-ticket {
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
    background-color: #000;
    color: #fff;
}

.buy-ticket:hover {
    background-color: #ccc;
    color: #000;
}

/* contact */
.contact-conten {
    margin-top: 32px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    float: right;
    color: #fff;
    background-color: #000;
    padding: 9px 15px;
    border: none;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* map section */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list {
    font-size: 24px;
}

.social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
.copyright a:hover,
.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    font-size: 15px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #fff;
}

.modal-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.heading-modal {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
}

.body-modal {
    padding: 16px;
}

.label-modal {
    font-size: 15px;
    display: block;
}
.input-modal {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.buy-ticket-btn {
    width: 100%;
    padding: 19px;
    background-color: #009688;
    font-style: italic;
    font-weight: 550;
    font-size: 18px;
    border: none;
    color: #fff;
}

.buy-ticket-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.footer-modal {
    text-align: right;
    margin: 16px 24px;
}

.help {
    color: #2196f3;
}
